In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
prev_month = dt.date(2017, 6, 1)
prev_month = dt.date(2017, 6, 1) - dt.timedelta(days=30)

In [5]:
#  3. Convert the June temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs)

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= prev_month).all()

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.

df = pd.DataFrame(results, columns=['date','temps'])
df.set_index(df['date'], inplace=False)
print(df)

           date  temps
0    2017-05-02   78.0
1    2017-05-03   78.0
2    2017-05-04   78.0
3    2017-05-05   79.0
4    2017-05-06   79.0
..          ...    ...
639  2017-08-19   71.0
640  2017-08-20   78.0
641  2017-08-21   76.0
642  2017-08-22   76.0
643  2017-08-23   76.0

[644 rows x 2 columns]

In [8]:
# Calulate the mean, minimum, maximum, standard deviation, and percentiles
df.describe()

            temps
count  644.000000
mean    77.318323
std      3.280970
min     66.000000
25%     75.000000
50%     78.000000
75%     80.000000
max     87.000000

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
prev_month = dt.date(2017, 12, 1)
prev_month = dt.date(2017, 12, 1) - dt.timedelta(days=30)

In [10]:
# 7. Convert the December temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs)

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= prev_month).all()

In [12]:
df = pd.DataFrame(results, columns=['date','temps'])
df.set_index(df['date'], inplace=True)
print(df)

Empty DataFrame
Columns: [date, temps]
Index: []

In [13]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

       date temps
count     0     0
unique    0     0
top     NaN   NaN
freq    NaN   NaN